.search {
  margin-top: 100px;
  font-size: 18px;
}

.searchInputs {
  margin-top: 20px;
  display: flex;
}

.search input {
  background-color: white;
  box-shadow: rgba(16, 160, 204, 0.35) 0px 5px 15px;
  border: 0;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  background-color: rgb(231, 194, 31);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 70px;
  place-items: center;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  padding: 15px;
  height: 200px;
  background-color: white;
  font-size: 15px;
  box-shadow: rgba(16, 160, 204, 0.35) 0px 5px 15px;
  border: 0;
  border-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
